<html>
    <head></head>
    <body>
      <div>Hi {{firstName}}
            <h1>Thank you for registering</h1>
             Thank you for registering for {{eventTitle}}! We're excited to have you join us on {{date}} at {{time}} at {{location}}.</div>
      <br>
       Thank you,
       <br>
       Peer Pulse Team
    </body>
</html>